producer-portal/code/flows/Manage_Producer_User_Access_On_Producer_Placed_On_Market_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Visible_To_Producer_User_Decision</name>
        <label>Visible To Producer User Decision</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_Hide_To_Producer_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visible_To_Producer_User_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visible_To_Producer_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Visible_To_Producer_User</targetReference>
            </connector>
            <label>Visible To Producer User Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Manage Producer User Access On Producer Placed On Market Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Producer User Access On Producer Placed On Market Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Hide_To_Producer_User</name>
        <label>Update Hide To Producer User</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Account_For_Community__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visible_To_Producer_User</name>
        <label>Update Visible To Producer User</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Account_For_Community__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Visible_To_Producer_User_Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (NOT(1) AND NOT(2))</filterLogic>
        <filters>
            <field>Visible_To_Producer_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_For_Community__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Producer_Placed_on_Market__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-27</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
