producer-portal/code/flows/Producer_Contract_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RLCS_ChargeDeleteFlowAction</name>
        <label>RLCS_ChargeDeleteFlowAction</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>RLCS_ChargeDeleteFlowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>chargeIds</name>
            <value>
                <elementReference>chargeIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLCS_ChargeDeleteFlowAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Charge_Id_into_List</name>
        <label>Add Charge Id into List</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>chargeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_RLCS_Charge.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_RLCS_Charge</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Producer Contract - Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producer Contract - Before Delete</label>
    <loops>
        <name>Iterate_RLCS_Charge</name>
        <label>Iterate RLCS Charge</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_RLCS_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Charge_Id_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RLCS_ChargeDeleteFlowAction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RLCS_Charges</name>
        <label>Get RLCS Charges</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_RLCS_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producer_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RLCS_Charge__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLCS_Charges</targetReference>
        </connector>
        <object>Producer_Contract__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>chargeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
