producer-portal/code/flows/Producer_Contract_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contract_POMD_Update_Decision</name>
        <label>Contract POMD Update Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_POMD_Update_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Battery_Classifications__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Battery_Reporting_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Obligation_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_POMDs</targetReference>
            </connector>
            <label>Contract POMD Update Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_Action</name>
        <label>Trigger Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contract_POMD_Update_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Updated</defaultConnectorLabel>
        <rules>
            <name>Record_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Record Created</label>
        </rules>
    </decisions>
    <description>18-08-2025: added obligation type change</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Producer Contract - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producer Contract - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract_POMDs</name>
        <label>Update Contract POMDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Battery_Classifications__c</field>
            <value>
                <elementReference>$Record.Battery_Classifications__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery_Reporting_Method__c</field>
            <value>
                <elementReference>$Record.Battery_Reporting_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Obligation_Type__c</field>
            <value>
                <elementReference>$Record.Obligation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract_POMDs__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Action</targetReference>
        </connector>
        <object>Producer_Contract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
