producer-portal/code/flows/Producer_Obligation_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Membership_Type_Assignment</name>
        <label>Populate Membership Type Assignment</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Membership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Producer_Contract.Membership_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Obligation_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Obligation_Pricing_Assignment</name>
        <label>Populate Obligation Pricing Assignment</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Producer_Obligation_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Year_Pricing_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Information_from_Producer_Contract_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Obligation_Type_Assignment</name>
        <label>Populate Obligation Type Assignment</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>$Record.Obligation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Producer_Contract.Obligation_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_UK_Calculation</name>
        <label>Populate UK Calculation</label>
        <locationX>248</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.UK_Calculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Year_UK_Calculation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Year_Pricing_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Populate_Information_from_Producer_Contract_Decision</name>
        <label>Populate Information from Producer Contract Decision</label>
        <locationX>380</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Information_from_Producer_Contract</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Obligation_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Producer_Contract</targetReference>
            </connector>
            <label>Populate Information from Producer Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Membership_Type_Decision</name>
        <label>Populate Membership Type Decision</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Populate_Obligation_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Membership_Type_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Membership_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Membership_Type_Assignment</targetReference>
            </connector>
            <label>Populate Membership Type Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Obligation_Type_Decision</name>
        <label>Populate Obligation Type Decision</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_Obligation_Type_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Obligation_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Obligation_Type_Assignment</targetReference>
            </connector>
            <label>Populate Obligation Type Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producer_Obligation_Pricing_Available_Decision</name>
        <label>Producer Obligation Pricing Available Decision</label>
        <locationX>380</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Populate_Information_from_Producer_Contract_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Producer_Obligation_Pricing_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Year_Pricing_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Obligation_Pricing_Assignment</targetReference>
            </connector>
            <label>Producer Obligation Pricing Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_Action</name>
        <label>Trigger Action</label>
        <locationX>611</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Calculation_Available_Decision</name>
        <label>UK Calculation Available Decision</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Get_Compliance_Year_Pricing_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK_Calculation_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Year_UK_Calculation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_UK_Calculation</targetReference>
            </connector>
            <label>UK Calculation Available</label>
        </rules>
    </decisions>
    <description>18-08-2025: added WEEE/Batteries filter
27-12-2024 : populate Obligation Type and Membership Type
23-12-2024 : populate Membership Type
26-11-2024 : populate latest UK Cal Record
20-11-2024: populate Producer Obligation Pricing Lookup based on Compliance Year
05-1-2024: UK Calculation lookup based on Compliance_Year__c</description>
    <environments>Default</environments>
    <formulas>
        <name>complianceYearFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!$Record.Compliance_Year__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>currentYear</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Producer Obligation - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Producer Obligation - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Compliance_Year_Pricing_Record</name>
        <label>Get Compliance Year Pricing Record</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Producer_Obligation_Pricing_Available_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Producer_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Producer_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Compliance_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compliance_Year__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Producer_Obligation_Pricing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Year_UK_Calculation</name>
        <label>Get Current Year UK Calculation</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UK_Calculation_Available_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compliance_Year_Formula__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>complianceYearFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UK_Calculation__c</object>
        <sortField>Compliance_Year_Formula__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Producer_Contract</name>
        <label>Get Producer Contract</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Membership_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Producer_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Producer_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record  Type</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Year_UK_Calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trigger_Action</targetReference>
        </connector>
        <object>Producer_Obligation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
