email-to-case-assignment/code/flows/Case_Remove_Case_Owner_if_Reopen_24_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Assign_Case</name>
        <label>Auto Assign Case</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>rlsServiceCaseAutoAssignHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rlsServiceCaseAutoAssignHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Case: Remove Case Owner if Reopen &gt;24 Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Remove Case Owner if Reopen &gt;14 Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_assigned_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_assigned_owner</name>
        <label>Remove assigned owner</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Auto_Assign_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Auto_Assigned_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Most_Recent_Message__c}) &amp;&amp;
(({!$Record.Most_Recent_Message__c} - {!$Record.Previous_Email_Time__c}) * 24) &gt; 14 &amp;&amp;
NOT(ISPICKVAL({!$Record.Status}, &quot;Pending Internal&quot;)) &amp;&amp;
NOT(ISPICKVAL({!$Record.Status}, &quot;Pending External&quot;)) &amp;&amp;
{!$Record.RecordType.Name} = &quot;Email&quot;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
