portal-exchange-email/flows/Create_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DBS_Integration</name>
        <label>DBS Integration</label>
        <locationX>2503</locationX>
        <locationY>7772</locationY>
        <actionName>DBSIntegrationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RedirectToRecordId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobIds</name>
            <value>
                <elementReference>newJobRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DBSIntegrationHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_James_Littlewood_for_pending_Site_Visit</name>
        <label>Notify James Littlewood for pending Site Visit</label>
        <locationX>2145</locationX>
        <locationY>4478</locationY>
        <actionName>Site_Visit__c.Notify_James_Littlewood_for_pending_Site_Visit</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Site_Visit_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Site_Visit__c.Notify_James_Littlewood_for_pending_Site_Visit</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>RedirectToRecordId</name>
        <label>RedirectToRecordId</label>
        <locationX>2789</locationX>
        <locationY>8048</locationY>
        <actionName>c:redirectToRecordId</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToRecordId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>3444</locationX>
        <locationY>1538</locationY>
        <actionName>OrderItem.Order_Product_Compliance_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ComplianceCheckApprovalScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ordProductObj.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderItem.Order_Product_Compliance_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Job_request</name>
        <label>Send New Job request</label>
        <locationX>2030</locationX>
        <locationY>5792</locationY>
        <actionName>sendEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobID</name>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>$Label.Associated_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>New_Job_Booking_Request_Email_1_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendEmailController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emailStatus_Customer</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Schedule_Details</name>
        <label>Assign Schedule Details</label>
        <locationX>2426</locationX>
        <locationY>6332</locationY>
        <assignmentItems>
            <assignToReference>scheduleObj.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Schedule_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Day_of_the_week_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_of_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Next_Job_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleObj.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClearabeeCheck</name>
        <label>AssignClearabeeCheck</label>
        <locationX>2277</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>jobObj.SendToClearabee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Data_Through_Clearabee_API</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignJobApprovalStatus</name>
        <label>AssignJobApprovalStatus</label>
        <locationX>2789</locationX>
        <locationY>5792</locationY>
        <assignmentItems>
            <assignToReference>ordProductObj.JobCreationApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJobApprovalStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Community_User_Assignment_0</name>
        <label>Community User Assignment</label>
        <locationX>2497</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Delivery_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Date_Holiday_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Add_Into_List</name>
        <label>Consignment Note Add Into List</label>
        <locationX>2277</locationX>
        <locationY>5384</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Required_Assignment</name>
        <label>Consignment Note Required Assignment</label>
        <locationX>2277</locationX>
        <locationY>5276</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consignment Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consignment Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Add_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Domestic_Customer_Assignment</name>
        <label>Domestic Customer Assignment</label>
        <locationX>2277</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>jobObj.SAGE_Payment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sage_Payment_Reference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SupplierIsClearabee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Assignment</name>
        <label>Job Assignment</label>
        <locationX>2409</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>jobObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Order.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Client_Job_Booking_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Job_Booking_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Supplier_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Sales_tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Product2.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ordProductObj.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.what3words__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What3Words</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Client_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Preferred_Time_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Time_Slot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Type_Decision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Charge_Assign_to_List</name>
        <label>New Permit Charge Assign to List</label>
        <locationX>2277</locationX>
        <locationY>4976</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Required_Assignment</name>
        <label>New Permit Required Assignment</label>
        <locationX>2277</locationX>
        <locationY>4868</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Permit Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Permit_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Permit_Charge_Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rebate_Job_Assignment</name>
        <label>Rebate Job Assignment</label>
        <locationX>2277</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Required_Paperwork__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rebatePaperwork</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Domestic_Customer_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status_0</name>
        <label>Update Job Status</label>
        <locationX>2921</locationX>
        <locationY>7148</locationY>
        <assignmentItems>
            <assignToReference>newJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJobRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJobRec.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status_0_0</name>
        <label>Update Job Status</label>
        <locationX>2657</locationX>
        <locationY>7148</locationY>
        <assignmentItems>
            <assignToReference>newJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJobRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Supplier Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJobRec.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Schedule_on_Job</name>
        <label>Update Schedule on Job</label>
        <locationX>2426</locationX>
        <locationY>6548</locationY>
        <assignmentItems>
            <assignToReference>newJobRec.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scheduleObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_After_Schdule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateApprovalStatus</name>
        <label>UpdateApprovalStatus</label>
        <locationX>3444</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ordProductObj.JobCreationApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderItemForApproval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_On_Stop_or_InActive</name>
        <label>Account On Stop or InActive?</label>
        <locationX>1104</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Active_Rebate_Only_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.Active_Rebate_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Pricing_method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Rebate_Only_Screen</targetReference>
            </connector>
            <label>Active - Rebate Only Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if it is a Bin Job that can become a schedule</description>
        <name>Can_we_Schedule_Job</name>
        <label>Can we Schedule Job?</label>
        <locationX>2789</locationX>
        <locationY>6008</locationY>
        <defaultConnector>
            <targetReference>SupplierIsClearabee_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_possibleSchedule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Product2.Required_Paperwork__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Product2.May_Require_Schedule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if it could have a Schedule. Use to be checked by the name of the product like BIN</description>
        <name>Can_we_Schedule_Job_Decision_2</name>
        <label>Can we Schedule Job Decision 2?</label>
        <locationX>3174</locationX>
        <locationY>6524</locationY>
        <defaultConnector>
            <targetReference>Email_Sent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_possibleSchedule2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Product2.Required_Paperwork__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Product2.May_Require_Schedule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Schedule_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User</name>
        <label>Community User?</label>
        <locationX>2409</locationX>
        <locationY>5684</locationY>
        <defaultConnector>
            <targetReference>AssignJobApprovalStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Job_request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User_0</name>
        <label>Community User?</label>
        <locationX>3741</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ComplianceCheckNeeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CU_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Delivery_Job_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceApprovalStatusCheck</name>
        <label>ComplianceApprovalStatusCheck</label>
        <locationX>3928</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>IsEmptyOrIsRejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceCheckScreen</targetReference>
            </connector>
            <label>IsEmptyOrIsRejected</label>
        </rules>
        <rules>
            <name>IsWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceCheckApprovalScreen</targetReference>
            </connector>
            <label>IsWaiting</label>
        </rules>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Delivery_Job</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceCheckNeeded</name>
        <label>ComplianceCheckNeeded</label>
        <locationX>4302</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Delivery_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotNeeded</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>(1 and 4) or (2 and 5) or (3 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.SupplierCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.DepotDisposeCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.DepotSupplyCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Depot_Dispose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Depot_Supply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceApprovalStatusCheck</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consignment_Note_Required_Decision</name>
        <label>Consignment Note Required Decision</label>
        <locationX>2409</locationX>
        <locationY>5168</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignment_Note_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consignment_Note_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consignment_Note_Required_Assignment</targetReference>
            </connector>
            <label>Consignment Note Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Job_Validation</name>
        <label>Create Job Validation</label>
        <locationX>2159</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>PO_Max_Value_Not_Available</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Consumed_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ordProductObj.Order.Max_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message_0</targetReference>
            </connector>
            <label>PO Max Value Not Available?</label>
        </rules>
        <rules>
            <name>Jobs_Remaining</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Maximum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobRemaining</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message_0_0</targetReference>
            </connector>
            <label>Jobs Remaining?</label>
        </rules>
        <rules>
            <name>Until_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Until Date</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Until_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Message_0_0_0</targetReference>
            </connector>
            <label>Until Date</label>
        </rules>
        <rules>
            <name>Supplier_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Job_Supplier_Validation</targetReference>
            </connector>
            <label>Supplier not selected</label>
        </rules>
        <rules>
            <name>Site_Phone_Requried</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Site__r.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Phone_Required_Validation</targetReference>
            </connector>
            <label>Site Phone Requried</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domestic_Customer_Decision</name>
        <label>Domestic Customer Decision</label>
        <locationX>2409</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>SupplierIsClearabee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Domestic_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_of_Order_Product.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Domestic_Customer_Assignment</targetReference>
            </connector>
            <label>Domestic Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_to_Send_to_DBS</name>
        <label>Eligible to Send to DBS?</label>
        <locationX>2789</locationX>
        <locationY>7448</locationY>
        <defaultConnector>
            <targetReference>RedirectToRecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DBS_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Depot_Dispose__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Depot_Supply__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent</name>
        <label>Email Sent?</label>
        <locationX>2030</locationX>
        <locationY>5900</locationY>
        <defaultConnector>
            <targetReference>Email_Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailStatus_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Success_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent_0</name>
        <label>Email Sent?</label>
        <locationX>2789</locationX>
        <locationY>7040</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rebate_Job</name>
        <label>Is Rebate Job?</label>
        <locationX>2409</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Domestic_Customer_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rebate_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Pricing_method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebate_Job_Assignment</targetReference>
            </connector>
            <label>Rebate Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled</name>
        <label>Is Scheduled?</label>
        <locationX>2558</locationX>
        <locationY>6224</locationY>
        <defaultConnector>
            <targetReference>Email_Sent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Schedule_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Mixed_Waste_Type_Job_Decision</name>
        <label>Is this Mixed Waste Type Job Decision</label>
        <locationX>4104</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Get_Site_Visit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mixed_Waste_Type_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_Mixed_Waste_Type_Job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mixed_Waste_Type_Job</targetReference>
            </connector>
            <label>Mixed Waste Type Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Permit_Required_Decision</name>
        <label>New Permit Required Decision</label>
        <locationX>2409</locationX>
        <locationY>4760</locationY>
        <defaultConnector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Permit_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_permit_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Permit_Required_Assignment</targetReference>
            </connector>
            <label>New Permit Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Account_Validation</name>
        <label>Order Account Validation</label>
        <locationX>3209</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Order_Account_Validation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomesticCustomer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ordProductObj.Order.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Assignment</targetReference>
            </connector>
            <label>Valid Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Product_Exist</name>
        <label>Order Product Exist?</label>
        <locationX>3022</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ordProductObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_of_Order_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_available</name>
        <label>Record Type available?</label>
        <locationX>3741</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Account_Validation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_to_DBS</name>
        <label>Send to DBS?</label>
        <locationX>2635</locationX>
        <locationY>7664</locationY>
        <defaultConnector>
            <targetReference>RedirectToRecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToDBS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Integration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Visit_Decision</name>
        <label>Site Visit Decision</label>
        <locationX>2409</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Site_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Site_Visit_Record</targetReference>
            </connector>
            <label>Create New Site Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>SupplierIsClearabee</name>
        <label>SupplierIsClearabee</label>
        <locationX>2409</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Create_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCB_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierIsClearabeeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendtoClearabee</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SupplierIsClearabee_0</name>
        <label>SupplierIsClearabee</label>
        <locationX>3020</locationX>
        <locationY>6116</locationY>
        <defaultConnector>
            <targetReference>Notify_Supplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierIsClearabeeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Load</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unable_To_Lock_Row_Decision</name>
        <label>Unable To Lock Row Decision</label>
        <locationX>3614</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unable_To_Lock_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_0</targetReference>
            </connector>
            <label>Unable To Lock Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_Decision_0</name>
        <label>User Type Decision</label>
        <locationX>2409</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Community_User_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Date_Holiday_Check</targetReference>
            </connector>
            <label>Standard User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wait_Load</name>
        <label>Wait &amp; Load?</label>
        <locationX>3020</locationX>
        <locationY>6416</locationY>
        <defaultConnector>
            <targetReference>Can_we_Schedule_Job_Decision_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Wait_Load</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggleVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Sent_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>11-03-2025 : added RedirectToRecordId
20-05-2024: changed Charge Type name to &apos;Consignment Note&apos;, from &apos;Manual Charge&apos; in JobChargeRec.
14-05-2024 : added Preferred Time Slot.
18-03-2024: added from address to Email_Send decision email
26-02-2024: added new template names
06-12-2023: added Active - Rebate Only Screen
23-10-2023: added &quot;May Require Schedule?&quot; on product
28-09-2023: Holiday Check Added On Delivery Date, Collection Date
-bypass Site Phone number required for person account/domestic account
-Site phone number is required
-Sage Payment Reference required
-Sage Reference added for Domestic Customer
-Domestic Customer is valid for job creation
curr: change Collection Date to Preferred Delivery Date for community user.
prev: change Customer Reference to Client Job Booking Reference.</description>
    <dynamicChoiceSets>
        <name>daysOfWeek</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_of_the_week_new__c</picklistField>
        <picklistObject>Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deliverySlots</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deliver_slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>preferredTimeSlotPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Time_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scheduleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Schedule_Type__c</picklistField>
        <picklistObject>Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteVisitReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Site_Visit_Reason__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Check if the Job Type = Wait and Load, so Collection Date = Delivery Date</description>
        <name>CollectionDateFormula</name>
        <dataType>Date</dataType>
        <expression>if ( {!jobType} = &quot;Wait &amp; Load&quot; ,  {!Delivery_Date}  ,   NULL )</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!ordProductObj.Partner__r.Sales_Email__c}+IF(NOT(ISBLANK({!ordProductObj.Partner__r.Other_Emails__c})), &apos;;&apos;+{!ordProductObj.Partner__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>jobRemaining</name>
        <dataType>Number</dataType>
        <expression>{!ordProductObj.Quantity}-{!ordProductObj.Delivered_Jobs__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>jobStatus</name>
        <dataType>String</dataType>
        <expression>IF({!emailStatus},&quot;Awaiting Supplier Confirmation&quot;,&quot;Open&quot;)</expression>
    </formulas>
    <formulas>
        <name>jobType</name>
        <dataType>String</dataType>
        <expression>IF({!toggleVal},&quot;Wait &amp; Load&quot;,
IF(OR(TEXT({!ordProductObj.Pricing_method__c})=&quot;Variable&quot;,TEXT({!ordProductObj.Pricing_method__c})=&quot;Fixed&quot;),&quot;Standard&quot;,
IF(TEXT({!ordProductObj.Pricing_method__c})=&quot;Rebate&quot;,&quot;Rebate&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>previousNote</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Latest_Job.Notes_on_Supplier_PO__c}),&apos;&apos;,{!Get_Latest_Job.Notes_on_Supplier_PO__c})</expression>
    </formulas>
    <formulas>
        <name>rebatePaperwork</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!ordProductObj.Product2.Required_Paperwork__c}) ,&apos;&apos;,&apos;;&apos;) + &apos;Supplier Advice Note;Customer Advice Note&apos;</expression>
    </formulas>
    <formulas>
        <name>recordTypeAPIName</name>
        <dataType>String</dataType>
        <expression>IF({!toggleVal},&quot;Wait_Load&quot;,TEXT({!ordProductObj.Pricing_method__c}))</expression>
    </formulas>
    <formulas>
        <name>scheduleJob</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Do_you_want_to_schedule_this_job},true,false)</expression>
    </formulas>
    <formulas>
        <name>SupplierIsClearabeeFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!ordProductObj.Partner__r.Name} == &apos;CLEARABEE LIMITED&apos;</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!ordProductObj.Pricing_method__c}) == &quot;Fixed&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Fixed_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Fixed_Job_Template_Wait_Load&quot;, &quot;X2_0_Fixed_Job_Template_Delivery&quot;)
,
IF(TEXT({!ordProductObj.Pricing_method__c}) ==&quot;Variable&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Variable_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Variable_Job_Template_Wait_Load&quot;, &quot;X2_0_Variable_Job_Template_Delivery&quot;)

,
IF(TEXT({!ordProductObj.Pricing_method__c}) == &quot;Rebate&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Rebate_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Rebate_Job_Template_Wait_Load&quot;, &quot;X2_0_Rebate_Job_Template_Delivery&quot;)

,
&quot;No Template Found&quot;)))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>userProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>userType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <interviewLabel>Create Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>2409</locationX>
        <locationY>4154</locationY>
        <connector>
            <targetReference>Site_Visit_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>jobObj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Job_Charges</name>
        <label>Create Job Charges</label>
        <locationX>2409</locationX>
        <locationY>5576</locationY>
        <connector>
            <targetReference>Community_User</targetReference>
        </connector>
        <inputReference>JobChargeRecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule</name>
        <label>Create Schedule</label>
        <locationX>2426</locationX>
        <locationY>6440</locationY>
        <connector>
            <targetReference>Update_Schedule_on_Job</targetReference>
        </connector>
        <inputReference>scheduleObj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Site_Visit_Record</name>
        <label>Create Site Visit Record</label>
        <locationX>2145</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Notify_James_Littlewood_for_pending_Site_Visit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_For_Site_Visit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ordProductObj.Order.Site__r.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Requester__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Site Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ordProductObj.Order.Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_visit_notes__c</field>
            <value>
                <elementReference>Pre_Visit_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124H000000FWP8QAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Reason__c</field>
            <value>
                <elementReference>Site_Visit_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>ordProductObj.Order.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_of_Order_Product</name>
        <label>Get Account of Order Product</label>
        <locationX>1104</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_On_Stop_or_InActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ordProductObj.Order.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Job</name>
        <label>Get Latest Job</label>
        <locationX>3741</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Community_User_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notes_on_Supplier_PO__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>3022</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Product_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_method__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>ordProductObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Waste_Type_2__c</queriedFields>
        <queriedFields>Partner__c</queriedFields>
        <queriedFields>Pricing_method__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Sales_Transport__c</queriedFields>
        <queriedFields>Transport__c</queriedFields>
        <queriedFields>Delivered_Jobs__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Supplier_price__c</queriedFields>
        <queriedFields>Sales_Price__c</queriedFields>
        <queriedFields>Sales_Tonnage_charge_thereafter__c</queriedFields>
        <queriedFields>Partner_Tonnage_charge_thereafter__c</queriedFields>
        <queriedFields>Depot_Dispose__c</queriedFields>
        <queriedFields>Depot_Supply__c</queriedFields>
        <queriedFields>SupplierCompliance__c</queriedFields>
        <queriedFields>DepotDisposeCompliance__c</queriedFields>
        <queriedFields>DepotSupplyCompliance__c</queriedFields>
        <queriedFields>JobCreationApprovalStatus__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Site</name>
        <label>Get Order Site</label>
        <locationX>3741</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ordProductObj.Order.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rebate_RecordType</name>
        <label>Get Rebate RecordType</label>
        <locationX>3741</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ordProductObj.Pricing_method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeObj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit</name>
        <label>Get Site Visit</label>
        <locationX>3741</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ordProductObj.Order.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>New_Job_Request_Flag_Update</name>
        <label>New Job Request Flag Update</label>
        <locationX>2030</locationX>
        <locationY>6200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Job_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>2789</locationX>
        <locationY>7340</locationY>
        <connector>
            <targetReference>Eligible_to_Send_to_DBS</targetReference>
        </connector>
        <inputReference>newJobRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_After_Schdule</name>
        <label>Update Job After Schdule</label>
        <locationX>2426</locationX>
        <locationY>6656</locationY>
        <connector>
            <targetReference>Notify_Supplier_0</targetReference>
        </connector>
        <inputReference>newJobRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobApprovalStatus</name>
        <label>UpdateJobApprovalStatus</label>
        <locationX>2789</locationX>
        <locationY>5900</locationY>
        <connector>
            <targetReference>Can_we_Schedule_Job</targetReference>
        </connector>
        <inputReference>ordProductObj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderItemForApproval</name>
        <label>UpdateOrderItemForApproval</label>
        <locationX>3444</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>ordProductObj</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_Rebate_Only_Screen</name>
        <label>Active - Rebate Only Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveRebateOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Account is &quot;Active - Rebate Only&quot; so you can only create Rebate Jobs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplianceCheckApprovalScreen</name>
        <label>ComplianceCheckApprovalScreen</label>
        <locationX>3708</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedForApprovalText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; This record has been submitted for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplianceCheckScreen</name>
        <label>ComplianceCheckScreen</label>
        <locationX>3444</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateApprovalStatus</targetReference>
        </connector>
        <fields>
            <name>ComplianceCheckWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;This record needs to be submitted for approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SupplierComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Supplier Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ordProductObj.SupplierCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ordProductObj.Partner__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisposeComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Dispose Depot Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ordProductObj.DepotDisposeCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ordProductObj.Depot_Dispose__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SupplyComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Supply Depot Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ordProductObj.DepotSupplyCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ordProductObj.Depot_Supply__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Job_Supplier_Validation</name>
        <label>Create Job Supplier Validation</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayCheckSupplier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(241, 6, 6); font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(238, 2, 2); font-size: 16px;&quot;&gt;It was not possible to create the Job!&lt;/b&gt;&lt;span style=&quot;color: rgb(238, 2, 2); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;color: rgb(238, 2, 2); font-size: 16px;&quot;&gt;The Supplier was not selected.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 2, 2); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 2, 2); font-size: 16px;&quot;&gt;Check the field on the Order Item.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DBS_Confirmation</name>
        <label>DBS Confirmation</label>
        <locationX>2635</locationX>
        <locationY>7556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_to_DBS</targetReference>
        </connector>
        <fields>
            <name>SendToDBS</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to send this Job to DBS?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>3741</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Rebate_RecordType</targetReference>
        </connector>
        <fields>
            <name>Delivery_Slot</name>
            <choiceReferences>deliverySlots</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Delivery_Slot</name>
            <choiceReferences>deliverySlots</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Delivery Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Time_Slot</name>
            <choiceReferences>preferredTimeSlotPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Time Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ordProductObj.Order.Account.Time_Sensitive_Account__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sage_Payment_Reference</name>
            <dataType>String</dataType>
            <fieldText>Sage Payment Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account_of_Order_Product.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Domestic Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Notes</name>
            <fieldText>Job Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Client_Job_Booking_Reference</name>
            <dataType>String</dataType>
            <fieldText>Client Job Booking Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>wait_load_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this Job of Wait &amp; Load Type?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>toggleVal</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AdditionalCharges</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Additional Charges &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_permit_required</name>
            <dataType>Boolean</dataType>
            <fieldText>New permit required?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>Permit Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>Consignment Note Required?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>siteVisitLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Site_Visit.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Order_Site.Site_Visit_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_want_to_arrange_a_site_visit</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to arrange a site visit?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Site_Visit.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Order_Site.Site_Visit_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pre_Visit_Notes</name>
            <fieldText>Pre Visit Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Visit_Reason</name>
            <choiceReferences>SiteVisitReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Site Visit Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What3WordsText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;What3Words&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Add the &apos;what 3 words&apos; phrase below if you need to give a specific location to the supplier. This will be added to their booking confirmation email.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What3Words</name>
            <dataType>String</dataType>
            <fieldText>What3Words</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Failure_Screen</name>
        <label>Email Failure Screen</label>
        <locationX>2162</locationX>
        <locationY>6008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Job_Request_Flag_Update</targetReference>
        </connector>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(218, 46, 6); font-size: 14px;&quot;&gt;We are not able to process your request. Please try again later or reach out to your Manager.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Success_Screen</name>
        <label>Email Success Screen</label>
        <locationX>1898</locationX>
        <locationY>6008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Job_Request_Flag_Update</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(32, 32, 160);&quot;&gt;Job Booking Successfully Submitted&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3746</locationX>
        <locationY>4370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>3482</locationX>
        <locationY>4370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: Some related &lt;span style=&quot;color: rgb(30, 31, 33); background-color: rgb(249, 248, 248); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif;&quot;&gt;record has been changed since you made your changes. Refresh and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_For_Site_Visit</name>
        <label>Error Screen For Site Visit</label>
        <locationX>2409</locationX>
        <locationY>4478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </connector>
        <fields>
            <name>SiteVisitCreationError</name>
            <fieldText>&lt;p&gt;Something went wrong while creating Site Visit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(240, 77, 77);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;System Admin has been notified.  you can continue to Create Job by pressing NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New Delivery Job</description>
        <name>New_Delivery_Job</name>
        <label>New Delivery Job</label>
        <locationX>4104</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_Mixed_Waste_Type_Job_Decision</targetReference>
        </connector>
        <fields>
            <name>ProductName</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name : {!ordProductObj.Product2.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WasterType</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Waste Type : &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ordProductObj.Waste_Type_2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Supplier</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Supplier : {!ordProductObj.Partner__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Delivery_Job_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Delivery_Job_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_this_Mixed_Waste_Type_Job</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Is this Mixed Waste Type Job?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New Delivery Job</description>
        <name>New_Delivery_Job_0</name>
        <label>New Delivery Job</label>
        <locationX>3180</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Site_Visit</targetReference>
        </connector>
        <fields>
            <name>ProductName_0</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name : {!ordProductObj.Product2.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WasterType_0</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;Waste Type : &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ordProductObj.Waste_Type_2__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier</name>
        <label>Notify Supplier</label>
        <locationX>3108</locationX>
        <locationY>6224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Wait_Load</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>jobObj.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <elementReference>templateName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successStatus</name>
                <value>
                    <stringValue>Awaiting Supplier Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailStatus</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier_0</name>
        <label>Notify Supplier</label>
        <locationX>2426</locationX>
        <locationY>6764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Sent_0</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send schedule email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail_0</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>jobObj.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <stringValue>X2_0_Schedule_Job_Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailStatus</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Account_Validation_Screen</name>
        <label>Order Account Validation Screen</label>
        <locationX>4010</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderAccountValidationMessage</name>
            <fieldText>&lt;p&gt;Order Account must be the customer Account to create a Job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Screen</name>
        <label>Schedule Screen</label>
        <locationX>2558</locationX>
        <locationY>6116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Scheduled</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_schedule_this_job</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to schedule this job?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SectionHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please provide the following to details to schedule:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Schedule_Type</name>
            <choiceReferences>scheduleType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; color: rgb(62, 62, 60);&quot;&gt;Please add a future date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &gt; {!Today}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Days_of_Week</name>
            <choiceReferences>daysOfWeek</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Days of Week</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Container_Counter</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Container Counter</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendtoClearabee</name>
        <label>SendtoClearabee</label>
        <locationX>2277</locationX>
        <locationY>3854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignClearabeeCheck</targetReference>
        </connector>
        <fields>
            <name>Send_Data_Through_Clearabee_API</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send Data Through Clearabee API?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Phone_Required_Validation</name>
        <label>Site Phone Required Validation</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_displayCheckSupplier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(241, 6, 6);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(238, 2, 2);&quot;&gt;It was not possible to create the Job!&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(238, 2, 2);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(238, 2, 2);&quot;&gt;Site Phone Number is Required.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(238, 2, 2);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(238, 2, 2);&quot;&gt;Check the Site&apos;s on the Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Message</name>
        <label>Validation Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 11); font-size: 14px;&quot;&gt;Account must be in Active Stage and not stop.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Message_0</name>
        <label>Validation Message</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 19, 11); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Maximum Value for this Purchase Order Exceeded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Message_0_0</name>
        <label>Validation Message</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(237, 19, 11); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;The maximum number of jobs is already delivered.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Message_0_0_0</name>
        <label>Validation Message</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 11, 11); font-size: 16px;&quot;&gt;The last Date to create a job on this Product was {!ordProductObj.Order.Until_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2896</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Collection_Date_Holiday_Validation</name>
        <label>Collection Date Holiday Validation</label>
        <locationX>2409</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Is_Rebate_Job</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>jobObj.Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Collection Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Mixed_Waste_Type_Job</name>
        <label>Create Mixed Waste Type Job</label>
        <locationX>3972</locationX>
        <locationY>1430</locationY>
        <flowName>Create_Mixed_Waste_Type_Job</flowName>
        <inputAssignments>
            <name>orderProductId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Delivery_Date_Holiday_Check</name>
        <label>Delivery Date Holiday Check</label>
        <locationX>2409</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>Collection_Date_Holiday_Validation</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>jobObj.Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Delivery Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>emailStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailStatus_Customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>JobChargeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>JobChargeRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>newJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>ordProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Store current Order Product record</description>
        <name>ordProductObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>scheduleObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Schedule__c</objectType>
    </variables>
    <variables>
        <name>toggleVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
