portal-exchange-email/flows/Create_Mixed_Waste_Type_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DBS_Integration</name>
        <label>DBS Integration</label>
        <locationX>1595</locationX>
        <locationY>8144</locationY>
        <actionName>DBSIntegrationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirect_to_Job</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobIds</name>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DBSIntegrationHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>MultiSelectFlowValues</name>
        <label>MultiSelectFlowValues</label>
        <locationX>1502</locationX>
        <locationY>1106</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Choose_Order_Products</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Job</name>
        <label>Redirect to Job</label>
        <locationX>1881</locationX>
        <locationY>8420</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Job_request</name>
        <label>Send New Job request</label>
        <locationX>1122</locationX>
        <locationY>6164</locationY>
        <actionName>sendEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Sent_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobID</name>
            <value>
                <elementReference>Create_Parent_Mixed_Waste_Type_Job</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>$Label.Associated_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>New_Job_Booking_Request_Email_1_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendEmailController</nameSegment>
        <outputParameters>
            <assignToReference>emailStatus_Customer</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Job_Into_List</name>
        <label>Add Child Job Into List</label>
        <locationX>1876</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJobs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mixedWasteTypeChildJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Mixed_Waste_Type_Job_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_Details</name>
        <label>Assign Schedule Details</label>
        <locationX>1518</locationX>
        <locationY>6704</locationY>
        <assignmentItems>
            <assignToReference>scheduleRec.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Schedule_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Schedule_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Day_of_the_week_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_of_Week</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scheduleRec.Next_Job_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignJobApprovalStatus</name>
        <label>AssignJobApprovalStatus</label>
        <locationX>1881</locationX>
        <locationY>6164</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Product.JobCreationApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateJobApprovalStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Job_Assignment</name>
        <label>Child Job Assignment</label>
        <locationX>1502</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJobs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childjobRecsTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mixed_Waste_Type_Child_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Add_Into_List</name>
        <label>Consignment Note Add Into List</label>
        <locationX>1370</locationX>
        <locationY>5756</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>jobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Job_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consignment_Note_Required_Assignment</name>
        <label>Consignment Note Required Assignment</label>
        <locationX>1370</locationX>
        <locationY>5648</locationY>
        <assignmentItems>
            <assignToReference>jobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consignment_Note_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consignment Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Charge_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Add_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Assignment</name>
        <label>Job Assignment</label>
        <locationX>1876</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Order.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Supplier_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Sales_tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Product2.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Product_Record.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectionDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.what3words__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What3Words</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Job_Into_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Child_Job_Assignment</name>
        <label>Mixed Waste Type Child Job Assignment</label>
        <locationX>1590</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Mixed_Waste_Type_Child_Jobs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeChildJob.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Mixed_Waste_Type_Child_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Job_Initial_Values</name>
        <label>Mixed Waste Type Job Initial Values</label>
        <locationX>1722</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Is_Mixed_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Rebate_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mixed_Waste_Type_Parent_Job_Initial_Assignment</name>
        <label>Mixed Waste Type Parent Job Initial Assignment</label>
        <locationX>1722</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mixedWasteTypeChildJob</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mixed_Waste_Type_Job_Initial_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Charge_Assign_to_List</name>
        <label>New Permit Charge Assign to List</label>
        <locationX>1370</locationX>
        <locationY>5348</locationY>
        <assignmentItems>
            <assignToReference>JobChargeRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>jobChargeRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Permit_Required_Assignment</name>
        <label>New Permit Required Assignment</label>
        <locationX>1370</locationX>
        <locationY>5240</locationY>
        <assignmentItems>
            <assignToReference>jobChargeRec.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Sales_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Permit Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Permit_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Expiry_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobChargeRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Permit_Charge_Assign_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rebate_Job_Assignment</name>
        <label>Rebate Job Assignment</label>
        <locationX>1590</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Required_Paperwork__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Supplier Advice Note</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Required_Paperwork__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Customer Advice Note</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SupplierIsClearabee_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SendtoClearabee_Assignment</name>
        <label>SendtoClearabee Assignment</label>
        <locationX>1590</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.SendToClearabee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Data_Through_Clearabee_API</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status</name>
        <label>Update Job Status</label>
        <locationX>1749</locationX>
        <locationY>7520</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Supplier Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status_0</name>
        <label>Update Job Status</label>
        <locationX>2013</locationX>
        <locationY>7520</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Container_Counter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Container_Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Schedule_on_Job</name>
        <label>Update Schedule on Job</label>
        <locationX>1518</locationX>
        <locationY>6920</locationY>
        <assignmentItems>
            <assignToReference>mixedWasteTypeParentJobRec.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_After_Schdule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Choose_Order_Product_Decision</name>
        <label>Choose Order Product Decision</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Validation_Bulk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Minimum_Order_Product_For_Mixed_Waste_Type</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Order_Products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minimum_Order_Product_Validation_Message</targetReference>
            </connector>
            <label>Minimum Order Product For Mixed Waste Type</label>
        </rules>
        <rules>
            <name>Main_Order_Product</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Order_Products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>orderProductId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Main_Order_product_Message_Screen</targetReference>
            </connector>
            <label>Main Order Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_User</name>
        <label>Community User?</label>
        <locationX>1502</locationX>
        <locationY>6056</locationY>
        <defaultConnector>
            <targetReference>AssignJobApprovalStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Job_request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consignment_Note_Required_Decision</name>
        <label>Consignment Note Required Decision</label>
        <locationX>1502</locationX>
        <locationY>5540</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Charges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignment_Note_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consignment_Note_Required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consignment_Note_Required_Assignment</targetReference>
            </connector>
            <label>Consignment Note Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_to_Send_to_DBS</name>
        <label>Eligible to Send to DBS?</label>
        <locationX>1881</locationX>
        <locationY>7820</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DBS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Depot_Dispose__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Product.Depot_Supply__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent_0</name>
        <label>Email Sent?</label>
        <locationX>1881</locationX>
        <locationY>7412</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent_Decision</name>
        <label>Email Sent Decision</label>
        <locationX>1122</locationX>
        <locationY>6272</locationY>
        <defaultConnector>
            <targetReference>Email_Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailStatus_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Success_Screen</targetReference>
            </connector>
            <label>Email Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invalid_Order_Product_Available_Decision</name>
        <label>Invalid Order Product Available Decision</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Order_Product_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Job_Validation_Bulk.invalidOrderProductAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Invalid Order Product Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_Requires_ADOC</name>
        <label>Is It Requires ADOC?</label>
        <locationX>1881</locationX>
        <locationY>6380</locationY>
        <defaultConnector>
            <targetReference>SupplierIsClearabee_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ADOC_Yes_possibleSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Product2.Required_Paperwork__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Screen</targetReference>
            </connector>
            <label>ADOC_Yes_possibleSchedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_It_Requires_ADOC2</name>
        <label>Is It Requires ADOC?</label>
        <locationX>2266</locationX>
        <locationY>6896</locationY>
        <defaultConnector>
            <targetReference>Email_Sent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADOC_Yes_possibleSchedule2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product.Product2.Required_Paperwork__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Schedule_Screen</targetReference>
            </connector>
            <label>ADOC_Yes_possibleSchedule2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Mixed_Waste_Type_Job_Decision</name>
        <label>Is Parent Mixed Waste Type Job Decision</label>
        <locationX>1876</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Mixed_Waste_Type_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderProductId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Order_Product_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mixed_Waste_Type_Parent_Job_Initial_Assignment</targetReference>
            </connector>
            <label>Parent Mixed Waste Type Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rebate_Job</name>
        <label>Is Rebate Job?</label>
        <locationX>1722</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>SupplierIsClearabee_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rebate_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Record.Pricing_method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebate_Job_Assignment</targetReference>
            </connector>
            <label>Rebate Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled</name>
        <label>Is Scheduled?</label>
        <locationX>1650</locationX>
        <locationY>6596</locationY>
        <defaultConnector>
            <targetReference>Email_Sent_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Schedule_Details</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Permit_Required_Decision</name>
        <label>New Permit Required Decision</label>
        <locationX>1502</locationX>
        <locationY>5132</locationY>
        <defaultConnector>
            <targetReference>Consignment_Note_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Permit_Required_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_permit_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Permit_Required_Assignment</targetReference>
            </connector>
            <label>New Permit Required Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rebate_Child_Mixed_Decision</name>
        <label>Rebate Child Mixed Decision</label>
        <locationX>1502</locationX>
        <locationY>4226</locationY>
        <defaultConnector>
            <targetReference>Site_Visit_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rebate_Record_Type_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rebate_Child_Mixed_Job.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Primary_Rebate_Screen</targetReference>
            </connector>
            <label>Rebate Record Type Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_to_DBS_Decision</name>
        <label>Send to DBS Decision</label>
        <locationX>1727</locationX>
        <locationY>8036</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_to_DBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToDBS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Integration</targetReference>
            </connector>
            <label>Send to DBS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Visit_Decision</name>
        <label>Site Visit Decision</label>
        <locationX>1502</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Site_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Site_Visit_Record</targetReference>
            </connector>
            <label>Create New Site Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>SupplierIsClearabee_0</name>
        <label>SupplierIsClearabee_0</label>
        <locationX>2112</locationX>
        <locationY>6488</locationY>
        <defaultConnector>
            <targetReference>Wait_Load_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoCB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierIsClearabeeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Supplier</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>SupplierIsClearabee_Decision</name>
        <label>SupplierIsClearabee Decision</label>
        <locationX>1722</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Iterate_Valid_Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SupplierIsClearabee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierIsClearabeeFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendtoClearabee</targetReference>
            </connector>
            <label>SupplierIsClearabee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unable_To_Lock_Row_Decision</name>
        <label>Unable To Lock Row Decision</label>
        <locationX>1986</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unable_To_Lock_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UNABLE_TO_LOCK_ROW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_to_lock_row_Screen</targetReference>
            </connector>
            <label>Unable To Lock Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wait_Load_Decision</name>
        <label>Wait &amp; Load? Decision</label>
        <locationX>2112</locationX>
        <locationY>6788</locationY>
        <defaultConnector>
            <targetReference>Is_It_Requires_ADOC2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Wait_Load</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggleVal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Sent_0</targetReference>
            </connector>
            <label>Wait &amp; Load</label>
        </rules>
    </decisions>
    <description>29-09-2023: Delivery Date Holiday Validation Available
curr: fix bug on rebatePaperwork
prev: create job bulk validation</description>
    <dynamicChoiceSets>
        <name>daysOfWeek</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day_of_the_week_new__c</picklistField>
        <picklistObject>Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>deliverySlots</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deliver_slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProductChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Create_Job_Flow_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.OrderId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rebateChildMixedJobCS</name>
        <dataType>String</dataType>
        <displayField>Create_Job_Flow_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </filters>
        <object>Job__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scheduleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Schedule_Type__c</picklistField>
        <picklistObject>Schedule__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteVisitReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Site_Visit_Reason__c</picklistField>
        <picklistObject>Site_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addOrderProductTitleOnValidationMessage</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>CollectionDateFormula</name>
        <dataType>Date</dataType>
        <expression>if ( {!jobType} = &quot;Wait &amp; Load&quot; ,  {!Delivery_Date}  ,   NULL )</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!Get_Order_Product.Partner__r.Sales_Email__c}+IF(NOT(ISBLANK({!Get_Order_Product.Partner__r.Other_Emails__c})), &apos;;&apos;+{!Get_Order_Product.Partner__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>jobType</name>
        <dataType>String</dataType>
        <expression>IF({!toggleVal},&quot;Wait &amp; Load&quot;,
IF(OR(TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Variable&quot;,TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Fixed&quot;),&quot;Standard&quot;,
IF(TEXT({!Order_Product_Record.Pricing_method__c})=&quot;Rebate&quot;,&quot;Rebate&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>rebatePaperwork</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Order_Product_Record.Product2.Required_Paperwork__c}) ,&apos;&apos;,&apos;;&apos;) + &apos;Supplier Advice Note;Customer Advice Note&apos;</expression>
    </formulas>
    <formulas>
        <name>SupplierIsClearabeeFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!Order_Product_Record.Partner__r.Name} == &apos;CLEARABEE LIMITED&apos;</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Fixed&quot;,&quot;Fixed_Job_Template&quot;,
IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Variable&quot;,&quot;Variable_Job_Template&quot;,
IF(TEXT({!Get_Order_Product.Pricing_method__c})=&quot;Rebate&quot;,&quot;Rebate_Job_Template&quot;,&quot;No Template Found&quot;)))</expression>
    </formulas>
    <formulas>
        <name>userType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <interviewLabel>Create Mixed Waste Type Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Mixed Waste Type Job</label>
    <loops>
        <name>Iterate_Mixed_Waste_Type_Child_Jobs</name>
        <label>Iterate Mixed Waste Type Child Jobs</label>
        <locationX>1502</locationX>
        <locationY>3062</locationY>
        <collectionReference>mixedWasteTypeChildJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Mixed_Waste_Type_Child_Job_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Child_Job_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Valid_Order_Products</name>
        <label>Iterate Valid Order Products</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <collectionReference>MultiSelectFlowValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Product_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Parent_Mixed_Waste_Type_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Charges</name>
        <label>Create Job Charges</label>
        <locationX>1502</locationX>
        <locationY>5948</locationY>
        <connector>
            <targetReference>Community_User</targetReference>
        </connector>
        <inputReference>JobChargeRecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Mixed_Waste_Type_Child_Job</name>
        <label>Create Mixed Waste Type Child Job</label>
        <locationX>1590</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Iterate_Mixed_Waste_Type_Child_Jobs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>mixedWasteTypeChildJob</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Mixed_Waste_Type_Child_Jobs</name>
        <label>Create Mixed Waste Type Child Jobs</label>
        <locationX>1502</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Get_Rebate_Child_Mixed_Job</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>mixedWasteTypeChildJobs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Mixed_Waste_Type_Job</name>
        <label>Create Parent Mixed Waste Type Job</label>
        <locationX>1502</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Iterate_Mixed_Waste_Type_Child_Jobs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unable_To_Lock_Row_Decision</targetReference>
        </faultConnector>
        <inputReference>mixedWasteTypeParentJobRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Schedule</name>
        <label>Create Schedule</label>
        <locationX>1518</locationX>
        <locationY>6812</locationY>
        <connector>
            <targetReference>Update_Schedule_on_Job</targetReference>
        </connector>
        <inputReference>scheduleRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Site_Visit_Record</name>
        <label>Create Site Visit Record</label>
        <locationX>1238</locationX>
        <locationY>4742</locationY>
        <connector>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_For_Site_Visit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Order_Product.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Requester__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Site Visit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Order_Product.Order.Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_visit_notes__c</field>
            <value>
                <elementReference>Pre_Visit_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124H000000FWP8QAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Reason__c</field>
            <value>
                <elementReference>Site_Visit_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_Order_Product.Order.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Product</name>
        <label>Get Order Product</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rebate_Child_Mixed_Job</name>
        <label>Get Rebate Child Mixed Job</label>
        <locationX>1502</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rebate_Child_Mixed_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mixedWasteTypeParentJobRec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1876</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Product_Record.Pricing_method__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.Order.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit</name>
        <label>Get Site Visit</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Product.Order.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Product_Record</name>
        <label>Order Product Record</label>
        <locationX>1876</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Valid_Order_Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Mixed_Job_for_Primary_Rebate_Transport</name>
        <label>Update Child Mixed Job for Primary Rebate Transport</label>
        <locationX>1370</locationX>
        <locationY>4442</locationY>
        <connector>
            <targetReference>Site_Visit_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Primary_Rebate_Job_for_Rebate_Transport</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Rebate_Mixed_Job__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>1881</locationX>
        <locationY>7712</locationY>
        <connector>
            <targetReference>Eligible_to_Send_to_DBS</targetReference>
        </connector>
        <inputReference>mixedWasteTypeParentJobRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_After_Schdule</name>
        <label>Update Job After Schdule</label>
        <locationX>1518</locationX>
        <locationY>7028</locationY>
        <connector>
            <targetReference>Notify_Supplier_0</targetReference>
        </connector>
        <inputReference>mixedWasteTypeParentJobRec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateJobApprovalStatus</name>
        <label>UpdateJobApprovalStatus</label>
        <locationX>1881</locationX>
        <locationY>6272</locationY>
        <connector>
            <targetReference>Is_It_Requires_ADOC</targetReference>
        </connector>
        <inputReference>Get_Order_Product</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Order_Product_Screen</name>
        <label>Choose Order Product Screen</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Order_Product_Decision</targetReference>
        </connector>
        <fields>
            <name>Choose_Order_Products</name>
            <choiceReferences>OrderProductChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>orderProductId</elementReference>
            </defaultValue>
            <fieldText>Choose Order Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Primary_Rebate_Screen</name>
        <label>Choose Primary Rebate Screen</label>
        <locationX>1370</locationX>
        <locationY>4334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Child_Mixed_Job_for_Primary_Rebate_Transport</targetReference>
        </connector>
        <fields>
            <name>Choose_Primary_Rebate_Job_for_Rebate_Transport</name>
            <choiceReferences>rebateChildMixedJobCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Primary Rebate Job for Rebate Transport</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DBS_Confirmation</name>
        <label>DBS Confirmation</label>
        <locationX>1727</locationX>
        <locationY>7928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_to_DBS_Decision</targetReference>
        </connector>
        <fields>
            <name>SendToDBS</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to send this Job to DBS?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Details</name>
        <label>Delivery Details</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Date_Holiday_Validation</targetReference>
        </connector>
        <fields>
            <name>Delivery_Slot</name>
            <choiceReferences>deliverySlots</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delivery_Date</name>
            <dataType>Date</dataType>
            <fieldText>Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Order_Product.Order.Account.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BT Openreach</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>wait_load_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this Job of Wait &amp; Load Type?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>toggleVal</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AdditionalCharges</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Additional Charges &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_permit_required</name>
            <dataType>Boolean</dataType>
            <fieldText>New permit required?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Permit Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Permit_Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>Permit Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_permit_required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Required</name>
            <dataType>Boolean</dataType>
            <fieldText>Consignment Note Required?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consignment_Note_Sales_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Consignment Note Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consignment_Note_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>siteVisitLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Site Visit&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Site_Visit.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Site.Site_Visit_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_want_to_arrange_a_site_visit</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to arrange a site visit?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Site_Visit.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Site.Site_Visit_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pre_Visit_Notes</name>
            <fieldText>Pre Visit Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Visit_Reason</name>
            <choiceReferences>SiteVisitReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Site Visit Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_arrange_a_site_visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What3WordsText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;What3Words&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Add the &apos;what 3 words&apos; phrase below if you need to give a specific location to the supplier. This will be added to their booking confirmation email.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What3Words</name>
            <dataType>String</dataType>
            <fieldText>What3Words</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Failure_Screen</name>
        <label>Email Failure Screen</label>
        <locationX>1254</locationX>
        <locationY>6380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sendEmailFailedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 46, 6); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;We are not able to process your request. Please try again later or reach out to your Manager.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Success_Screen</name>
        <label>Email Success Screen</label>
        <locationX>990</locationX>
        <locationY>6380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sendEmailSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(32, 32, 160); background-color: rgb(255, 255, 255);&quot;&gt;Job Booking Successfully Submitted&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2118</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_For_Site_Visit</name>
        <label>Error Screen For Site Visit</label>
        <locationX>1502</locationX>
        <locationY>4850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Permit_Required_Decision</targetReference>
        </connector>
        <fields>
            <name>SiteVisitCreationError</name>
            <fieldText>&lt;p&gt;Something went wrong while creating Site Visit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: &lt;span style=&quot;color: rgb(240, 77, 77);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;System Admin has been notified.  you can continue to Create Job by pressing NEXT.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Main_Order_product_Message_Screen</name>
        <label>Main Order product Message Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>mainOrderProductSelectMessage</name>
            <fieldText>&lt;p&gt;Please Make Sure below Order Product Selected.&lt;/p&gt;&lt;p&gt;-{!Get_Order_Product.Create_Job_Flow_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Minimum_Order_Product_Validation_Message</name>
        <label>Minimum Order Product Validation Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Order_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>minimumOrderProductForMixedWasteType</name>
            <fieldText>&lt;p&gt;Please select at least 2 order product for mixed waste type job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier</name>
        <label>Notify Supplier</label>
        <locationX>1980</locationX>
        <locationY>6596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wait_Load_Decision</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>Create_Parent_Mixed_Waste_Type_Job</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailStatus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successStatus</name>
                <value>
                    <stringValue>Awaiting Supplier Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <elementReference>templateName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailStatus</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier_0</name>
        <label>Notify Supplier</label>
        <locationX>1518</locationX>
        <locationY>7136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Sent_0</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail_0</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>Create_Parent_Mixed_Waste_Type_Job</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>emailStatus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successStatus</name>
                <value>
                    <stringValue>Awaiting Supplier Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <elementReference>templateName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailStatus</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Schedule_Screen</name>
        <label>Schedule Screen</label>
        <locationX>1650</locationX>
        <locationY>6488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Scheduled</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_schedule_this_job</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to schedule this job?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SectionHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please provide the following to details to schedule:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Schedule_Type</name>
            <choiceReferences>scheduleType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please add a future date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &gt;  {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Days_of_Week</name>
            <choiceReferences>daysOfWeek</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Days of Week</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Container_Counter</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Container Counter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_schedule_this_job</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendtoClearabee</name>
        <label>SendtoClearabee</label>
        <locationX>1590</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendtoClearabee_Assignment</targetReference>
        </connector>
        <fields>
            <name>Send_Data_Through_Clearabee_API</name>
            <dataType>Boolean</dataType>
            <fieldText>Send Data Through Clearabee API?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_lock_row_Screen</name>
        <label>Unable to lock row Screen</label>
        <locationX>1854</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>unableToLockRowMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Job because of: Some related &lt;span style=&quot;color: rgb(30, 31, 33); background-color: rgb(249, 248, 248); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif;&quot;&gt;record has been changed since you made your changes. Refresh and try again.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Job_Validation_Bulk</name>
        <label>Create Job Validation Bulk</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Invalid_Order_Product_Available_Decision</targetReference>
        </connector>
        <flowName>Create_Job_Validation_Bulk</flowName>
        <inputAssignments>
            <name>chooseOrderProduct</name>
            <value>
                <elementReference>Choose_Order_Products</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Delivery_Date_Holiday_Validation</name>
        <label>Delivery Date Holiday Validation</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>MultiSelectFlowValues</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Delivery Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>childjobRecsTemp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>emailStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailStatus_Customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobChargeRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>JobChargeRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Charge__c</objectType>
    </variables>
    <variables>
        <name>mixedWasteTypeChildJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>mixedWasteTypeChildJobs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>mixedWasteTypeParentJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>orderProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scheduleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Schedule__c</objectType>
    </variables>
    <variables>
        <name>toggleVal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
