portal-exchange-email/flows/Exchange_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DBS_Integration</name>
        <label>DBS Integration</label>
        <locationX>358</locationX>
        <locationY>4826</locationY>
        <actionName>DBSIntegrationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Type_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobIds</name>
            <value>
                <elementReference>newJob.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DBSIntegrationHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_RecordId</name>
        <label>Redirect to RecordId</label>
        <locationX>1183</locationX>
        <locationY>5402</locationY>
        <actionName>c:redirectToRecordId</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newJob.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:redirectToRecordId</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1029</locationX>
        <locationY>890</locationY>
        <actionName>OrderItem.Order_Product_Compliance_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ComplianceCheckApprovalScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderItem.Order_Product_Compliance_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Exchange_request</name>
        <label>Send Exchange request</label>
        <locationX>1590</locationX>
        <locationY>2954</locationY>
        <actionName>sendEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Send_Email_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>FromAddressSupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>$Label.Associated_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>New_Exchange_Request_Email_1_1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendEmailController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emailOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Job_Delivery_Date</name>
        <label>Assign Job Delivery Date</label>
        <locationX>1381</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>JobDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Job_Details_0</name>
        <label>Assign New Job Details</label>
        <locationX>182</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>newJob.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Notes_on_Supplier_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_on_Supplier_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Supplier_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Supplier_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Sales_tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Sales_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Partner_Tonnage_charge_thereafter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Partner_Tonnage_charge_thereafter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Required_Paperwork__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Product2.Required_Paperwork__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Supplier_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Sales_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Sales_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.SAGE_Payment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAGE_Payment_Ref</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Job_Details_0_0_0</name>
        <label>Assign New Job Details</label>
        <locationX>2118</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>newJob.Parent_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Deliver_slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Waste_Type_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Order_Product__r.Waste_Type_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Depot_Dispose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Depot_Dispose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Depot_Supply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Depot_Supply__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collection_Job_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Job_Update</name>
        <label>Current Job Update</label>
        <locationX>182</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Job_Update_0</name>
        <label>Current Job Update</label>
        <locationX>2118</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Job_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incurs_rental_charges_Assignment</name>
        <label>Incurs rental charges Assignment</label>
        <locationX>50</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>newJob.Incurs_rental_charges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incurs_rental_charges_confirmation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Rental_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Rental_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Rental_free_period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Rental_free_period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Rental_cost_from_supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Rental_cost_from_supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Rental_price_to_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Rental_price_to_customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newJob.Rental_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobObj.Rental_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Incurs_rental_charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status</name>
        <label>Update Job Status</label>
        <locationX>512</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>newJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Supplier Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status_0</name>
        <label>Update Job Status</label>
        <locationX>1986</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>newJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Supplier Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateApprovalStatus</name>
        <label>UpdateApprovalStatus</label>
        <locationX>1029</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOrderProduct.JobCreationApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderItemForApproval</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CustomExchange</name>
        <choiceText>Custom Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomExchange</stringValue>
        </value>
    </choices>
    <choices>
        <name>StandardExchange</name>
        <choiceText>Standard Exchange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StandardExchange</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Send_Email_Status</name>
        <label>Check Send Email Status</label>
        <locationX>1590</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Email_Confirmation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailOutput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Confirmation</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceApprovalStatusCheck</name>
        <label>ComplianceApprovalStatusCheck</label>
        <locationX>1381</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>IsEmptyOrIsRejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceCheckScreen</targetReference>
            </connector>
            <label>IsEmptyOrIsRejected</label>
        </rules>
        <rules>
            <name>IsWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceCheckApprovalScreen_0</targetReference>
            </connector>
            <label>IsWaiting</label>
        </rules>
        <rules>
            <name>IsApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.JobCreationApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Job</targetReference>
            </connector>
            <label>IsApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceCheckNeeded</name>
        <label>ComplianceCheckNeeded</label>
        <locationX>1381</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotNeeded</defaultConnectorLabel>
        <rules>
            <name>Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Job</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
        <rules>
            <name>Needed</name>
            <conditionLogic>(1 and 4) or (2 and 5) or (3 and 6)</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Depot_Dispose__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Depot_Supply__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.SupplierCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.DepotDisposeCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.DepotSupplyCompliance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceApprovalStatusCheck</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_not_Redirect_Decision</name>
        <label>Do not Redirect Decision</label>
        <locationX>1051</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doNotRedirectToJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do not Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_for_DBS</name>
        <label>Eligible for DBS</label>
        <locationX>644</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>User_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Depot_Dispose__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Depot_Supply__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Confrmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent</name>
        <label>Email Sent?</label>
        <locationX>644</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Eligible_for_DBS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mailSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent_0</name>
        <label>Email Sent?</label>
        <locationX>2118</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>User_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mailSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exchange_Path_Decision</name>
        <label>Exchange Path Decision</label>
        <locationX>644</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Job_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exchange_Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StandardExchange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Job_Details_0</targetReference>
            </connector>
            <label>Standard Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incurs_rental_charges_Decision</name>
        <label>Incurs rental charges Decision</label>
        <locationX>182</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Notify_Supplier_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incurs_rental_charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Incurs_rental_charges__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incurs_rental_charges_Screen</targetReference>
            </connector>
            <label>Incurs rental charges</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Exchange_Job_Decision</name>
        <label>New Exchange Job Decision</label>
        <locationX>1106</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>New_Exchange_Job_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exchange_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newJob.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Supplier_0</targetReference>
            </connector>
            <label>Exchange Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_to_DBS</name>
        <label>Send to DBS?</label>
        <locationX>490</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>User_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DBSToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Integration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_0</name>
        <label>User Type</label>
        <locationX>1381</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Job_Details_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exchange_Path_Decision</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Customer_Community_User_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CspLitePortal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Exchange_Request_Flag_Update</targetReference>
            </connector>
            <label>Customer Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_0_0</name>
        <label>User Type</label>
        <locationX>1381</locationX>
        <locationY>5186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_Redirect_Decision</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>CspLitePortal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CspLitePortal</stringValue>
                </rightValue>
            </conditions>
            <label>CspLitePortal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>1381</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Exchange_job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>Community_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Exchange_job</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
        <rules>
            <name>Account_Inactive_or_on_Stop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Account__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Account__r.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Stop_In_Active_Validation_Screen</targetReference>
            </connector>
            <label>Account Inactive or on Stop</label>
        </rules>
        <rules>
            <name>Active_Rebate_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Account__r.Active_Rebate_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order_Product__r.Pricing_method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Rebate_Only_Screen</targetReference>
            </connector>
            <label>Active - Rebate Only</label>
        </rules>
        <rules>
            <name>Site_Phone_Required_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Site__r.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Domestic_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Phone_Required</targetReference>
            </connector>
            <label>Site Phone Required Screen</label>
        </rules>
        <rules>
            <name>Already_have_collection_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Collection_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message</targetReference>
            </connector>
            <label>Already have collection date</label>
        </rules>
        <rules>
            <name>Job_Wait_and_Load</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait &amp; Load</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Wait_and_Load_Screen</targetReference>
            </connector>
            <label>Job Wait and Load</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Screen_0</name>
        <label>Validation Screen</label>
        <locationX>1381</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_Job_Delivery_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation</defaultConnectorLabel>
        <rules>
            <name>Community_User_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Delivery_Date</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
        <rules>
            <name>Already_Exchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Exchange_job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Already Exchanged?</label>
        </rules>
        <rules>
            <name>PO_Max_Value_Exceeded</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Order__r.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order__r.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order__r.Consumed_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>jobObj.Order__r.Max_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Max_Value</targetReference>
            </connector>
            <label>PO Max Value Exceeded</label>
        </rules>
        <rules>
            <name>Jobs_Limit_Count_consumed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Order__r.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value of jobs on PO &amp; Number Items</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order__r.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Maximum</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobsRemaining</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maximum_Job_Consumed</targetReference>
            </connector>
            <label>Jobs Limit(Count) consumed</label>
        </rules>
        <rules>
            <name>Until_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Order__r.Purchase_Order_limited_by__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Until Date</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order__r.Until_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Until_Date_Validation_Message</targetReference>
            </connector>
            <label>Until Date</label>
        </rules>
    </decisions>
    <description>06/10/2025 - changed from address for the customer request
14-01-2025 - Added function to bypass specific site in CX ref ion Collection_Details
14-06-2024 : added If Account_Require_Customer_Reference__c = TRUE,   Customer_Reference__c a required  
29-09-2024: replace redirect to record Id
17-04-2024: added do not redirect
05-04-2024: added Incurs rental charges functionality
07-03-2024: added new email templates
06-12-2023: added Active - Rebate Only Screen
29-09-2023: Collection Date Holiday Validation Added
-hide previous and pause button
-By pass Site Phone REquired for Domestic Job
-Site Phone Required on Exchange Job.
curr: delivery date shouldn&apos;t be null for custom exchange
prev: update job error path added.</description>
    <dynamicChoiceSets>
        <name>collectionSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collect_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>currentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!jobObj.Supplier__r.Sales_Email__c}+IF(NOT(ISBLANK({!jobObj.Supplier__r.Other_Emails__c})), &apos;;&apos;+{!jobObj.Supplier__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>FromAddressSupplier</name>
        <dataType>String</dataType>
        <expression>{!$Label.From_Address_Portal_Exchanges}</expression>
    </formulas>
    <formulas>
        <name>jobAccountName</name>
        <dataType>String</dataType>
        <expression>LOWER({!jobObj.Account__r.Name})</expression>
    </formulas>
    <formulas>
        <name>jobsRemaining</name>
        <dataType>Number</dataType>
        <expression>{!jobObj.Order_Product__r.Quantity} - {!jobObj.Order_Product__r.Delivered_Jobs__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>jobType</name>
        <dataType>String</dataType>
        <expression>TEXT({!newJob.Type__c})</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!jobObj.Order_Product__r.Pricing_method__c}) == &quot;Fixed&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Fixed_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Fixed_Job_Template_Wait_Load&quot;, &quot;X2_0_Fixed_Job_Template_Delivery&quot;)
,
IF(TEXT({!jobObj.Order_Product__r.Pricing_method__c}) ==&quot;Variable&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Variable_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Variable_Job_Template_Wait_Load&quot;, &quot;X2_0_Variable_Job_Template_Delivery&quot;)

,
IF(TEXT({!jobObj.Order_Product__r.Pricing_method__c}) == &quot;Rebate&quot;,

CASE({!jobType}, &quot;Exchange&quot;, &quot;X2_0_Rebate_Job_Template_Exchange&quot;, &quot;Wait &amp; Load&quot;, &quot;X2_0_Rebate_Job_Template_Wait_Load&quot;, &quot;X2_0_Rebate_Job_Template_Delivery&quot;)

,
&quot;No Template Found&quot;)))</expression>
    </formulas>
    <formulas>
        <name>userType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <interviewLabel>Exchange Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exchange Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collection_Job</name>
        <label>Create Collection Job</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Current_Job_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>newJob</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Collection_Job_0</name>
        <label>Create Collection Job</label>
        <locationX>2118</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Current_Job_Update_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </faultConnector>
        <inputReference>newJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Exchange_job</name>
        <label>Get Existing Exchange job</label>
        <locationX>1381</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exchange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Details</name>
        <label>Get Job Details</label>
        <locationX>1381</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ComplianceCheckNeeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>jobObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
        <queriedFields>Deliver_slot__c</queriedFields>
        <queriedFields>Collection_Date__c</queriedFields>
        <queriedFields>Collect_Slot__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Waste_Type_2__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Sales_tonnage_charge_thereafter__c</queriedFields>
        <queriedFields>Partner_Tonnage_charge_thereafter__c</queriedFields>
        <queriedFields>Depot_Dispose__c</queriedFields>
        <queriedFields>Depot_Supply__c</queriedFields>
        <queriedFields>Notes_on_Supplier_PO__c</queriedFields>
        <queriedFields>SupplierCompliance__c</queriedFields>
        <queriedFields>DepotDisposeCompliance__c</queriedFields>
        <queriedFields>DepotSupplyCompliance__c</queriedFields>
        <queriedFields>JobCreationApprovalStatus__c</queriedFields>
        <queriedFields>SAGE_Payment_Reference__c</queriedFields>
        <queriedFields>Domestic_Job__c</queriedFields>
        <queriedFields>Incurs_rental_charges__c</queriedFields>
        <queriedFields>Rental_free_period__c</queriedFields>
        <queriedFields>Rental_Frequency__c</queriedFields>
        <queriedFields>Rental_Start_Date__c</queriedFields>
        <queriedFields>Rental_price_to_customer__c</queriedFields>
        <queriedFields>Rental_cost_from_supplier__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Job</name>
        <label>Get Latest Job</label>
        <locationX>1381</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notes_on_Supplier_PO__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Job_0</name>
        <label>Get Low Level Job</label>
        <locationX>1106</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomExchangeJobScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notes_on_Supplier_PO__c</queriedFields>
        <sortField>Delivery_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOrderProduct</name>
        <label>GetRelatedOrderProduct</label>
        <locationX>1029</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateApprovalStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Order_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>JobCreationApprovalStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>New_Exchange_Request_Flag_Update</name>
        <label>New Exchange Request Flag Update</label>
        <locationX>1590</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Send_Exchange_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Exchange_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Exchange_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Job</name>
        <label>Update Current Job</label>
        <locationX>182</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Incurs_rental_charges_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputReference>jobObj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Job_0</name>
        <label>Update Current Job</label>
        <locationX>2118</locationX>
        <locationY>3170</locationY>
        <connector>
            <targetReference>Notify_Supplier_0_0</targetReference>
        </connector>
        <inputReference>jobObj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incurs_rental_charges</name>
        <label>Update Incurs rental charges</label>
        <locationX>50</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>Notify_Supplier_0</targetReference>
        </connector>
        <inputReference>newJob</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>512</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Eligible_for_DBS</targetReference>
        </connector>
        <inputReference>newJob</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_0</name>
        <label>Update Job</label>
        <locationX>1986</locationX>
        <locationY>3602</locationY>
        <connector>
            <targetReference>User_Type_0_0</targetReference>
        </connector>
        <inputReference>newJob</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderItemForApproval</name>
        <label>UpdateOrderItemForApproval</label>
        <locationX>1029</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>GetRelatedOrderProduct</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Stop_In_Active_Validation_Screen</name>
        <label>Account Stop/In Active Validation Screen</label>
        <locationX>809</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 26, 11); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Account must be in Active Stage and not stop.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Active_Rebate_Only_Screen</name>
        <label>Active - Rebate Only Screen</label>
        <locationX>1073</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveRebateOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Account is &quot;Active - Rebate Only&quot; so you can only exchange the Rebate Jobs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Details</name>
        <label>Collection Details</label>
        <locationX>1381</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Collection_Date_Holiday_Validation</targetReference>
        </connector>
        <fields>
            <name>Exchange_Path</name>
            <choiceReferences>StandardExchange</choiceReferences>
            <choiceReferences>CustomExchange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exchange Path</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Collection Date Should be greater or equal to Parent Job&apos;s Delievery Date : {!jobObj.Delivery_Date__c}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Collection_Date} - Today()) &gt;= ({!JobDeliveryDate} - Today())</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collect Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Collection_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Collection Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_on_Supplier_PO</name>
            <defaultValue>
                <stringValue>{!jobObj.Notes_on_Supplier_PO__c}</stringValue>
            </defaultValue>
            <fieldText>Notes on Supplier PO</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Client Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_Reference</name>
            <dataType>String</dataType>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>jobAccountName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>openreach</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>jobObj.Account__r.Account_Require_Customer_Reference__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>jobObj.Site__r.Site_Does_Not_Require_CX_Ref__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SAGE_Payment_Ref</name>
            <dataType>String</dataType>
            <fieldText>SAGE Payment Ref</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>jobObj.Domestic_Job__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Exchange_Path</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>CustomExchange</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplianceCheckApprovalScreen</name>
        <label>ComplianceCheckApprovalScreen</label>
        <locationX>1029</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedForApprovalText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; This record has been submitted for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplianceCheckApprovalScreen_0</name>
        <label>ComplianceCheckApprovalScreen</label>
        <locationX>1293</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmittedForApprovalText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; This record has been submitted for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplianceCheckScreen</name>
        <label>ComplianceCheckScreen</label>
        <locationX>1029</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRelatedOrderProduct</targetReference>
        </connector>
        <fields>
            <name>ComplianceCheckWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;This record needs to be submitted for approval&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SupplierComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Supplier Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>jobObj.SupplierCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>jobObj.Supplier__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisposeComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Dispose Depot Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>jobObj.DepotDisposeCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>jobObj.Depot_Dispose__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SupplyComplianceCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Supply Depot Compliance Check failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>jobObj.DepotSupplyCompliance__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>jobObj.Depot_Supply__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CustomExchangeJobScreen</name>
        <label>CustomExchangeJobScreen</label>
        <locationX>1106</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Exchange_Job_Decision</targetReference>
        </connector>
        <fields>
            <name>ExchangeJobComponent</name>
            <extensionName>c:ExchangeJob</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Latest_Job_0.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newJob.Id</assignToReference>
                <name>newCollectionJobId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DBS_Confrmation</name>
        <label>DBS Confrmation</label>
        <locationX>490</locationX>
        <locationY>4610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_to_DBS</targetReference>
        </connector>
        <fields>
            <name>DBSToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to send this Job to DBS?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Confirmation</name>
        <label>Email  Confirmation</label>
        <locationX>1458</locationX>
        <locationY>3170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Type_0_0</targetReference>
        </connector>
        <fields>
            <name>EmailMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Exchange request successfully sent&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Confirmation_0</name>
        <label>Email  Confirmation</label>
        <locationX>1722</locationX>
        <locationY>3170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Type_0_0</targetReference>
        </connector>
        <fields>
            <name>EmailMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;We are not able to send exchange request. Please  try again later.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;We cannot create the Exchange Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;We cannot update the Current Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>2426</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;We cannot create the Exchange Job because of: &lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;System Administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incurs_rental_charges_Screen</name>
        <label>Incurs rental charges Screen</label>
        <locationX>50</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Incurs_rental_charges_Assignment</targetReference>
        </connector>
        <fields>
            <name>Incurs_rental_charges_confirmation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>The job you are about to exchange had a rental charge applied. Would you like to continue the charge over to this job?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Wait_and_Load_Screen</name>
        <label>Job Wait and Load Screen</label>
        <locationX>1865</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WLDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(237, 7, 7);&quot;&gt;Wait and Load Jobs can&apos;t be  exchanged.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Maximum_Job_Consumed</name>
        <label>Maximum Job Consumed</label>
        <locationX>1469</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>JobLimitExceedLabel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(228, 9, 9);&quot;&gt;The maximum number of jobs are already delivered.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>1601</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeliveredText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(237, 7, 7); font-size: 16px;&quot;&gt;Job already has Collection Date.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Exchange_Job_Not_Found</name>
        <label>New Exchange Job Not Found</label>
        <locationX>1194</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExchangeJobNotFoundMessage</name>
            <fieldText>&lt;p&gt;You didn&apos;t create any Exchange Job yet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier_0</name>
        <label>Notify Supplier</label>
        <locationX>644</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Sent</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>newJob.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <elementReference>templateName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>FromAddressSupplier</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mailSent</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notify_Supplier_0_0</name>
        <label>Notify Supplier</label>
        <locationX>2118</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Sent_0</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_send_email_to_supplier_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to send email to supplier?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SendEmail_0</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>newJob.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <elementReference>templateName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>FromAddressSupplier</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mailSent</assignToReference>
                <name>emailStatus</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_send_email_to_supplier_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Max_Value</name>
        <label>PO Max Value</label>
        <locationX>1205</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MaxValExceeded</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(234, 12, 12);&quot;&gt;Maximum Value for this Purchase Order Exceeded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Phone_Required</name>
        <label>Site Phone Required</label>
        <locationX>1337</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SitePhoneRequiredText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(237, 7, 7); font-size: 16px;&quot;&gt;Site Phone Required to Create an Exchange Job.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Until_Date_Validation_Message</name>
        <label>Until Date Validation Message</label>
        <locationX>1733</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Untildate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(234, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;The last Date to create an Exchange for this Job was {!jobObj.Order__r.Until_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>941</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Job_Exchange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(228, 12, 12);&quot;&gt;Job already exchanged&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1255</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Collection_Date_Holiday_Validation</name>
        <label>Collection Date Holiday Validation</label>
        <locationX>1381</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>User_Type_0</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Collection Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>doNotRedirectToJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>emailOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>JobDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>mailSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
