portal-exchange-email/flows/Job_Organise_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DBS_Integration</name>
        <label>DBS Integration</label>
        <locationX>1106</locationX>
        <locationY>1730</locationY>
        <actionName>DBSIntegrationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobIds</name>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DBSIntegrationHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Record_0</name>
        <label>Redirect to Record</label>
        <locationX>1524</locationX>
        <locationY>2222</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_to_RL_Team</name>
        <label>Send Mail to RL Team</label>
        <locationX>1788</locationX>
        <locationY>1406</locationY>
        <actionName>sendEmailController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_You_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fromEmailAddress</name>
            <value>
                <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobID</name>
            <value>
                <elementReference>jobObj.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailIds</name>
            <value>
                <elementReference>$Label.Associated_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templatename</name>
            <value>
                <stringValue>Organise_Collection_Customer_Email_1_0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendEmailController</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Current_Job_Update</name>
        <label>Current Job Update</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Slot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Notes_to_Supplier_for_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Notes_to_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Job_from_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobObj.Client_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Standard_User_Assign</name>
        <label>Non-Standard User Assignment</label>
        <locationX>1678</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Collection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Collection_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Date_Holiday_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Standard_User_Assignment</name>
        <label>Non - Standard User Assignment</label>
        <locationX>1788</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>jobObj.Collect_Slot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Collection_Slot</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Mail_to_RL_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Inactive_or_on_Stop</name>
        <label>Account Inactive or on Stop?</label>
        <locationX>567</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Collection_Date_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Account__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Account__r.Stop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Active_Rebate_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Account__r.Active_Rebate_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Order_Product__r.Pricing_method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rebate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Rebate_Only_Screen</targetReference>
            </connector>
            <label>Active - Rebate Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_Date_Decision</name>
        <label>Collection Date Decision</label>
        <locationX>1084</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Collection_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_has_Collection_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Collection_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Date_Validation</targetReference>
            </connector>
            <label>Already has Collection Date</label>
        </rules>
        <rules>
            <name>Cancelled_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Status_Validation</targetReference>
            </connector>
            <label>Cancelled Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_not_Redirect_Decision</name>
        <label>Do not Redirect Decision</label>
        <locationX>1392</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>doNotRedirectToJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Do not Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_to_Send_to_DBS</name>
        <label>Eligible to Send to DBS?</label>
        <locationX>1392</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobObj.Depot_Dispose__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobObj.Depot_Supply__r.RLES_Depot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_to_DBS</name>
        <label>Send to DBS?</label>
        <locationX>1238</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendToDBS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DBS_Integration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type</name>
        <label>User Type?</label>
        <locationX>1590</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Non_Standard_User_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Standard_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preview_Email</targetReference>
            </connector>
            <label>Standard User</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_Decision</name>
        <label>User Type Decision</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Non_Standard_User_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Standard</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Date_Holiday_Validation</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <description>17-04-2024 : added do not redirect flag
18-03-2024: added {!$Label.fromaddress_customerservice} address
22-02-2024: changed email template from Organise_Collection_Job_Template to X2_0_Collection_Job_Template
06-12-2023: format the validation and added Active - Rebate Only Screen
29-09-2023: Collection Date Holiday Validation Added.
-hide pause and previous button
-preferred collection date
-cannot organize collection on cancelled job
New: &quot;Preferred&quot; keyword added with Client Notes
Pre: added validation &quot;Job already has Collection Date.&quot;</description>
    <dynamicChoiceSets>
        <name>collectionSlot</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collect_Slot__c</picklistField>
        <picklistObject>Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>emails</name>
        <dataType>String</dataType>
        <expression>{!jobObj.Supplier__r.Sales_Email__c}+IF(NOT(ISBLANK({!jobObj.Supplier__r.Other_Emails__c})), &apos;;&apos;+{!jobObj.Supplier__r.Other_Emails__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>jobsRemaining</name>
        <dataType>Number</dataType>
        <expression>{!jobObj.Order_Product__r.Quantity} - {!jobObj.Order_Product__r.Delivered_Jobs__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!jobObj.Type__c})=&quot;Standard&quot;,&quot;Fixed_Job_Template&quot;,
IF(TEXT({!jobObj.Type__c})=&quot;Wait &amp; Load&quot;,&quot;Variable_Job_Template&quot;,
IF(TEXT({!jobObj.Type__c})=&quot;Rebate&quot;,&quot;Rebate_Job_Template&quot;,&quot;No Template Found&quot;)))</expression>
    </formulas>
    <formulas>
        <name>userType</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <interviewLabel>Job - Organise Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Organise Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job_Details</name>
        <label>Get Job Details</label>
        <locationX>567</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Inactive_or_on_Stop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Job__c</object>
        <outputReference>jobObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order_Product__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
        <queriedFields>Deliver_slot__c</queriedFields>
        <queriedFields>Collection_Date__c</queriedFields>
        <queriedFields>Collect_Slot__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Supplier__c</queriedFields>
        <queriedFields>Depot_Supply__c</queriedFields>
        <queriedFields>Depot_Dispose__c</queriedFields>
        <queriedFields>Notes_to_Supplier_for_Collection__c</queriedFields>
        <queriedFields>Collection_Job_from_Flow__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Job</name>
        <label>Update Current Job</label>
        <locationX>1590</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>User_Type</targetReference>
        </connector>
        <inputReference>jobObj</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_Rebate_Only_Screen</name>
        <label>Active - Rebate Only Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveRebateOnlyMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Account is &quot;Active - Rebate Only&quot; so you can only Organize Collection for the Rebate Jobs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Date_Validation</name>
        <label>Collection Date Validation</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>collectionDateValidationMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 35, 35); font-size: 16px;&quot;&gt;Job already has Collection Date.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collection_Details</name>
        <label>Collection Details</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Job_Update</targetReference>
        </connector>
        <fields>
            <name>Collection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collect_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Collect Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Collection_Slot</name>
            <choiceReferences>collectionSlot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Collection Slot</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Collection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Preferred Collection Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Collection_Notes_to_Supplier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>jobObj.Notes_to_Supplier_for_Collection__c</elementReference>
            </defaultValue>
            <fieldText>Collection Notes to Supplier</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Notes</name>
            <fieldText>Job Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>userType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Standard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DBS_Confirmation</name>
        <label>DBS Confirmation</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_to_DBS</targetReference>
        </connector>
        <fields>
            <name>SendToDBS</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to send this Job to DBS?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_Status_Validation</name>
        <label>Job Status Validation</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_collectionDateValidationMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(244, 35, 35);&quot;&gt;Cannot Organize collection on Cancelled Job.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_Email</name>
        <label>Preview Email</label>
        <locationX>1392</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligible_to_Send_to_DBS</targetReference>
        </connector>
        <fields>
            <name>emailPreview_0</name>
            <extensionName>c:sendEmailToSupplier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>jobID</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppplierToEmailIDs</name>
                <value>
                    <elementReference>emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templatename</name>
                <value>
                    <stringValue>X2_0_Collection_Job_Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromEmailAddress</name>
                <value>
                    <elementReference>$Label.From_Address_Portal_Exchanges</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1392</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_not_Redirect_Decision</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Job Collection has been successfully organized.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_0</name>
        <label>Thank You</label>
        <locationX>1788</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Job Collection has been successfully organized.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccountStatusCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(231, 26, 11);&quot;&gt;Account must be in Active Stage and not stop.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Collection_Date_Holiday_Validation</name>
        <label>Collection Date Holiday Validation</label>
        <locationX>1590</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Current_Job</targetReference>
        </connector>
        <flowName>Holiday_Validation_Flow</flowName>
        <inputAssignments>
            <name>date</name>
            <value>
                <elementReference>jobObj.Collection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fieldLabel</name>
            <value>
                <stringValue>Collection Date</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>doNotRedirectToJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>jobList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>jobObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
